html {
    overflow: hidden;
}

body {
    --border-color: #ffffff40;
    --text-color-1: #ccc;
    --green-lighter: #4b6f49;
    --green-darker: #2d4830;
    --transparent-bg-color: #00000030;
    --dialog-bg-color: #647664;
    --shadow-color: #000000a1;
    --app-header-size: 55px;

    --red-alert: #ff6161;
    --green-alert: #5cc950;

    color: var(--text-color-1);
    background: linear-gradient(var(--green-lighter), var(--green-darker)) fixed;
}

.page-inside-contents {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: calc(100vh - var(--app-header-size));
}

.sidebar-title {
    text-align: center;
    padding: 5px;
}

.content-box {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.full-screen-card {
    background: var(--transparent-bg-color);
    --card-margin: 15px;
    margin: var(--card-margin);
    border-radius: 5px;
    height: calc(100% - (var(--card-margin) * 2));
    box-shadow: 0 0 5px 1px var(--shadow-color);
    width: 100%;
}

.current-user-row {
    background: var(--transparent-bg-color);
}